
body {
    background-color: black;
    color: cornflowerblue;
}

th {
   color: rgb(147, 186, 255);
}
td {

    color:azure;
}

#barra-nav {
    background-color: black;
    color: white;


}

a {
    color: rgb(183, 174, 237)
}







