@{
    ViewData["Title"] = "Descripcion del proyecto";
}
<h1>@ViewData["Title"]</h1>

<p class="text-light">Pequeña webapp construida con ASP.NET Core usando el modelo MVC (Model View Controller).<br />
    Se realizan las operaciones CRUD (Create, Read, Update, Delete) en la base de datos.</p>
